
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<title>Google Maps API</title>
</head>
<body>
	<header>
		<h1>Playing with APIs</h1>
	</header>
	<br />
	{{{body}}}
</body>
</html>
