
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add a Book</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
	</head>
	<body>
		<h1>Add a Book</h1>
		<form action="/add" method="post">
			<label>Book Title</label>
			<p>
				<input type="text" name="title" placeholder="book title" value="" autofocus>
			</p>
			<label>ISBN13</label>
			<p> 
				<input type="number" name="isbn" placeholder="ISBN13 number" value="" maxlength="13" autocomplete="off">
			</p>
			<label>Description</label>
			<p> 
				<textarea name="description"></textarea>
			</p>
			<label>Author</label>
			<p> 
				<input type="text" name="author" placeholder="author" value="">
			</p>
			<label>Publisher</label>
			<p> 
				<input type="text" name="publisher" placeholder="publisher" value="">
			</p>
			<label>Year Published</label>
			<p> 
				<input type="number" name="year" placeholder="year published" value="">
			</p>
			<p class="submit"><input type="submit" value="Add Book"></p>
			<a class="return" href="/">Return</a>
		</form>
	</body>
</html>
