
<!DOCTYPE html>
<html>
<head>
	<title>The Date Site</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	{{{body}}}
	<p>This information appears on every page.</p>
</body>
</html>
