
h1 {
  color: red;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

th:nth-child(1){
  width:100px;
}

td:nth-child(2){
  width:50px;
  text-align: right;
}

td:nth-child(3) {
  width: 80px;
  text-align: center;
}

form {
  padding: 30px;
}

input[name="qty"] {
  width: 50px;
}